    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand logo" href="#">Nametag</a> <div class="brand motto">&#183; Domains with friends</div>
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><%= link_to "Signup", signup_path()  %></li>
              <li><%= link_to "Signin", "/path2"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

