<div class="hero">
  <div class="message">
    Find, trade, sell, and register domains with friends.
  </div>
  <div class="splash"><img src="/assets/domainguy.png"></div>
</div>

<%=form_for "nada", :url => signup_path() do |f| %>
  <%= render 'shared/add_domain', :f => f %>
<% end %>
<div class="box_container_footnote">
  <%=link_to signup_path() do %>
    If you don't own a domain, click here to signup</a>
  <% end %>
</div>
