<div class="hero">
  <div class="message">
    Find, trade, sell, and register domains with friends.
  </div>
  <div class="splash"><img src="/assets/domainguy.png"></div>
</div>

<div class="box_container navbar-inner main_box">
  <div class="box navbar">
    <div class="box_title brand">
      Enter the domains you own here<br><span style="font-size: 10pt;">(comma or newline seperated)</span>
    </div>
    <div class="box_body">
      <textarea></textarea>
    </div>
    <div class="box_footer">
      <button class="btn btn-primary">Signup</button>
    </div>
  </div>
</div>
<div class="box_container_footnote">
  <a href="#">If you don't own a domain, click here to signup</a>
</div>
